* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	aspect-ratio: 1 / 1;
	background-color: #5d3a3a;
}
.cube {
	width: 400px;
	height: 400px;
	background-color: #b5e0ba;
}
