* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: 1000px;
	background-color: #191919;
}
.round1 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f6e59c;
}
}zz
}


.round2 {
.round2 {
.round2 {
.round2 {

.round2 {
.round2 {
}

.round3 {
}

.round4 {
}

.round5 {
}

.round6 {
}

.round7 {
}

.round8 {
}

.round9 {
}

.round10 {
}
