* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	aspect-ratio: 1 / 1;
	background-color: #161616;
	position: relative;
}
.big_round {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 10px solid #000000;
	background-color: #a22015;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	overflow: hidden;
}
.medium_round {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 20px solid #000000;
	background-color: #e96a23;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
.small_round {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
.round_1 {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 20px solid #000000;
	position: absolute;
	top: 25%;
	left: 10%;
	translate: -50% -50%;
}
.round_2 {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 20px solid #000000;
	position: absolute;
	top: 25%;
	left: 90%;
	translate: -50% -50%;
}
.round_3 {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 20px solid #000000;
	position: absolute;
	top: 95%;
	left: 50%;
	translate: -50% -50%;
}
